/* Write your CSS here */

.cg-con {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 24px;
}
.bg-con {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.light-mode {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.head {
  font-size: 15px;
  font-family: 'Roboto';
}

.but {
  border-radius: 2px;
  cursor: pointer;
}
